#**Approach Description**

In this Notebook, I am trying to check how logisitc regression with "class_weight=balanced" behaves on dataset. I will take whole dataset and let Logistic regression take care of class imbalanced.

First approach listed here is based on my Notebook 4 Data PreProcessing. And, Second approach listed here is based on my Notebook 3 Data Processing.

Let us see what happens !!

## **Approach 1 - Data PreProcessing based on Abhishek Thakur's post**

#Loading data

In [18]:
import pandas as pd

train = pd.read_csv('Train.csv')
train.head()

   L_Id  Date of Creation  Agent Category Assigned  ...  A_1  A_2  Problem Category
0  LM_1  18-12-2018 00:29                        1  ...    1    1                 1
1  LM_2  30-11-2018 22:19                        1  ...    2    2                 1
2  LM_3  12-12-2018 02:37                        1  ...    1    1                 1
3  LM_4  26-12-2018 01:45                        1  ...    1    1                 1
4  LM_5  24-12-2018 03:22                        1  ...    0    0                 1

[5 rows x 16 columns]

#**Numerical Variables**

In [19]:
train.dtypes

L_Id                             object
Date of Creation                 object
Agent Category Assigned           int64
Type of Request                   int64
Description of the Request        int64
Location                          int64
Street Type                     float64
Region Type                       int64
Ward No                           int64
Estimated Date of Completion     object
Request Solution Category         int64
Actual Date of Completion        object
Team Assigned                     int64
A_1                               int64
A_2                               int64
Problem Category                  int64
dtype: object

In [20]:
train.select_dtypes(include=['int64','float64']).columns

Index(['Agent Category Assigned', 'Type of Request',
       'Description of the Request', 'Location', 'Street Type', 'Region Type',
       'Ward No', 'Request Solution Category', 'Team Assigned', 'A_1', 'A_2',
       'Problem Category'],
      dtype='object')

We will keep all Numeric features and remove all Other Columns

---

In [21]:
train.drop(['L_Id', 'Date of Creation', 'Estimated Date of Completion', 'Actual Date of Completion'], axis=1, inplace=True)

In [22]:
train.head()

   Agent Category Assigned  Type of Request  ...  A_2  Problem Category
0                        1               10  ...    1                 1
1                        1               15  ...    2                 1
2                        1               11  ...    1                 1
3                        1               11  ...    1                 1
4                        1                2  ...    0                 1

[5 rows x 12 columns]

In [23]:
print('Agent Category Assigned : ', train['Agent Category Assigned'].unique())
print('Type of Request : ', train['Type of Request'].unique())
print('Description of the Request : ', train['Description of the Request'].unique())
print('Location : ', train['Location'].unique())
print('Street Type : ', train['Street Type'].unique())
print('Region Type : ', train['Region Type'].unique())
print('Ward No : ', train['Ward No'].unique())
print('Request Solution Category : ', train['Request Solution Category'].unique())
print('Team Assigned : ', train['Team Assigned'].unique())
print('A_1 : ', train.A_1.unique())
print('A_2 : ', train.A_2.unique())

Agent Category Assigned :  [1]
Type of Request :  [10 15 11  2 14 20  3  1  0 13  8 16  5 18 17 12 19  4  9]
Description of the Request :  [ 2 17 22 27 23 14 31 10 34 20 15  3 41 30  6  1 25 35 29 26  5  0 11 21
 28 19 37 40  7 12  8 39 36 38 24  4 32  9]
Location :  [13  0 12 10  7  9  6  3  5  8 16 14  1]
Street Type :  [11223. 10019. 11237. 11213. 10460. 11375. 10009. 11354. 11201. 11434.
 10314. 11235.    nan 10457. 11219. 10308. 10017. 10458. 11432. 10003.
 10462. 11214. 11204. 11228. 11411. 11356. 11102. 11226. 10312. 10026.
 10039. 10027. 11101. 10029. 11373. 11385. 10451. 11225. 11365. 11416.
 10466. 11211. 11206. 10034. 11216. 10002. 11229. 11232. 10016. 11218.
 11357. 10028. 11238. 10472. 11230. 11103. 11691. 10453. 11207. 11358.
 10461. 10001. 11368. 11694. 11355. 11209. 10032. 10023. 10465. 10040.
 11366. 11419. 11436. 11378. 10013. 11429. 10452. 11217. 11415. 11417.
 11367. 10302. 11105. 11414. 11208. 11418. 11224. 11220. 10065. 10468.
 11233. 11106. 10036. 11104. 11420. 11374. 10010. 11234. 11370. 11210.
 11215. 10469. 10456. 10025. 10075. 11433. 11363. 10459. 10021. 11426.
 10467. 10470. 11231. 10018. 10475. 11236. 10031. 10303. 11221. 11435.
 11212. 11203. 10011. 11422. 10022. 10012. 11205. 11421. 11369. 10024.
 11222. 11377. 10037. 11249. 10033. 11239. 11372. 10463. 10014. 11427.
 10030. 11362. 10304. 11379. 11004. 10454. 11364. 11423. 10305. 10038.
 11361. 11413. 10301. 10473. 11428. 10306. 11040. 10035. 10464. 10004.
 11693. 11692. 10309. 11412. 10471. 10128. 10455. 11430. 10281. 10007.
 10310. 10006. 11360. 10307. 10005. 10474. 10282. 11109.]
Region Type :  [0 2 4 1 3 5]
Ward No :  [ 7 30  6 17 16 23 45 31  8 10  1 26 13 38 18 33 47 14 11 39 43 27 35 24
 21 37 46 42 36 12 25  4 40 48 49 22 28 19 32 20  3 44 29  0 41 34]
Request Solution Category :  [ 4  8  7  6 12  9 13  2 10 15 11  5]
Team Assigned :  [45 22 17 33 24 27 13 31  7 51  5 56  0 49 15 26 28  8 44 41  4 54 42 38
 46 19 23  1 37 47 39 48  2 50 20 29 34 36 55 21 18 30 40 35 43  3 53 16
  9 25 52 12 14 59 58 10  6 57 11 32 61 65 64 66 60]
A_1 :  [1 2 0 3 4 5]
A_2 :  [1 2 0 3 4 5]

In [24]:
#train['Street Type'] = train['Street Type'].fillna(train['Street Type'].mean())

train['Street Type'] = train['Street Type'].fillna(train['Street Type'].mode()[0])

In [25]:
train.isnull().sum()

Agent Category Assigned       0
Type of Request               0
Description of the Request    0
Location                      0
Street Type                   0
Region Type                   0
Ward No                       0
Request Solution Category     0
Team Assigned                 0
A_1                           0
A_2                           0
Problem Category              0
dtype: int64

#**Checking Dataset SkewNess**

In [26]:
# Checking Problem Category wise Data frequency 
print('Problem Category frequency :')
print(train['Problem Category'].value_counts(normalize=True))
print(' ')
print('Problem Category count :')
print(train['Problem Category'].value_counts())

Problem Category frequency :
1    0.931977
2    0.046746
0    0.021277
Name: Problem Category, dtype: float64

Problem Category count :
1    6001
2     301
0     137
Name: Problem Category, dtype: int64

**Dataset is highly skewed. 
Here I would like to check how Logisitc Regression with "class_weight=balanced" behaves on imbalanced dataset.**

# **Applying Classifiers**

In [27]:
# Splitting Independent and Dependent Variables
X = train.loc[:, train.columns != 'Problem Category'].values
y = train['Problem Category'].values

In [28]:
from sklearn.model_selection import train_test_split

# Splitting the dataset into the Training set and Test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=0, stratify=y)

In [29]:
from sklearn.linear_model import LogisticRegression
logisticRegr = LogisticRegression()
logisticRegr.fit(X_train, y_train)

predictions = logisticRegr.predict(X_test)
score = logisticRegr.score(X_test, y_test)
print(score)

0.9732919254658385

In [30]:
from sklearn.linear_model import LogisticRegression
logisticRegr = LogisticRegression(class_weight='balanced')
logisticRegr.fit(X_train, y_train)

predictions = logisticRegr.predict(X_test)
score = logisticRegr.score(X_test, y_test)
print(score)

0.9167701863354037

In [31]:
import numpy as np
from sklearn.metrics import roc_auc_score
from sklearn.preprocessing import LabelBinarizer
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score

#In an imbalanced classification problem with more than two classes, precision is 
#calculated as the sum of true positives across all classes divided by the sum of 
#true positives and false positives across all classes.

#When using the precision_score() function for multiclass classification, it is 
#important to specify the minority classes via the “labels” argument and to perform 
#set the “average” argument to ‘micro‘ to ensure the calculation is performed as we expect.
# calculate prediction
def multiclass_precision_score(y_test, y_pred, average="macro"):
  precision = precision_score(y_test, y_pred, labels=[0,2], average=average)
  return precision

#Recall is a metric that quantifies the number of correct positive predictions made 
#out of all positive predictions that could have been made.
# calculate recall
def multiclass_recall_score(y_test, y_pred, average='macro'):
  recall = recall_score(y_test, y_pred, average=average)
  return recall

In [32]:
import xgboost as xgb
import warnings
warnings.filterwarnings("ignore")
warnings.filterwarnings(module='sklearn*', action='ignore', category=DeprecationWarning)
from sklearn.tree import DecisionTreeClassifier 
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

dtree_model = DecisionTreeClassifier(class_weight='balanced', max_depth=3).fit(X_train, y_train)   #Optimum Value for max_depth : 10
dtree_predictions = dtree_model.predict(X_test)

print('DecisionTreeClassifier + UnderSampling')
print('Precision: ', multiclass_recall_score(y_test, dtree_predictions))
print('Recall: ', multiclass_precision_score(y_test, dtree_predictions))

DecisionTreeClassifier + UnderSampling
Precision:  0.6850980392156862
Recall:  0.52811004784689

In [33]:
# Creates a confusion matrix
cm = confusion_matrix(y_test, dtree_predictions)
cm_df = pd.DataFrame(cm)
cm_df.style.background_gradient(cmap='coolwarm')

In [34]:
rf_clf = RandomForestClassifier(class_weight='balanced', random_state=0, n_jobs=-1)   
rf_clf.fit(X_train, y_train)
rf_predictions = rf_clf.predict(X_test)

print('RandomForestClassifier + UnderSampling')
print('Precision: ', multiclass_recall_score(y_test, rf_predictions))
print('Recall: ', multiclass_precision_score(y_test, rf_predictions))

RandomForestClassifier + UnderSampling
Precision:  0.6483660130718953
Recall:  0.4937637564196625

In [35]:
# Creates a confusion matrix
cm = confusion_matrix(y_test, rf_predictions)
cm_df = pd.DataFrame(cm)
cm_df.style.background_gradient(cmap='coolwarm')

In [36]:
xg_cl = xgb.XGBClassifier(objective= "multi:softprob", 
                          n_estimators=125, 
                          learning_rate=0.1, 
                          seed=123,
                          max_depth=2,
                          class_weight='balanced',)

xg_cl.fit(X_train, y_train)

preds = xg_cl.predict(X_test)
        
#print('Accuracy : ', accuracy_score(y_test, preds))
#print('ROC for XGBClassifier : ', multiclass_roc_auc_score(y_test, preds))

print('XGBClassifier + UnderSampling')
print('Precision: ', multiclass_recall_score(y_test, preds))
print('Recall: ', multiclass_precision_score(y_test, preds))

XGBClassifier + UnderSampling
Precision:  0.6934640522875816
Recall:  0.6313131313131313

In [37]:
# Creates a confusion matrix
cm = confusion_matrix(y_test, preds)
cm_df = pd.DataFrame(cm)
cm_df.style.background_gradient(cmap='coolwarm')

#**Precision vs. Recall for Imbalanced Classification**
You may decide to use precision or recall on your imbalanced classification problem. </br>

Maximizing precision will minimize the number false positives, whereas maximizing the recall will minimize the number of false negatives. </br>

Precision: Appropriate when minimizing false positives is the focus. </br>
Recall: Appropriate when minimizing false negatives is the focus. </br>

# My Observation says that Logistic Regression and Decision Tree Classifier output shows pretty good improvement while using class_weight='balanced' parameter.

## But, Ensemble Learning Classifiers like Decision Forest Classifier and XGBClassifiers' performance is almost unchanged.

## **Approach 2 - Data PreProcessing based on my Notebook 3 (procedure that I did in actual Hackathon)**

In [62]:
import pandas as pd
train = pd.read_csv('Train.csv')

train['Street Type'] = train['Street Type'].fillna(train['Street Type'].mode()[0])

#Normalized Data
train['MinMax_StreetType'] = (train['Street Type']-min(train['Street Type']))/(max(train['Street Type'])-min(train['Street Type']))
train['MinMax_WardNo'] = (train['Ward No']-min(train['Ward No']))/(max(train['Ward No'])-min(train['Ward No']))
train['MinMax_TeamAssigned'] = (train['Team Assigned']-min(train['Team Assigned']))/(max(train['Team Assigned'])-min(train['Team Assigned']))

train.drop(['L_Id', 'Street Type', 'Ward No', 'Team Assigned', 'Description of the Request'], axis=1, inplace=True)
train.drop(['Date of Creation', 'Actual Date of Completion', 'Estimated Date of Completion'], axis=1, inplace=True)

In [63]:
# Splitting Independent and Dependent Variables
X = train.loc[:, train.columns != 'Problem Category'].values
y = train['Problem Category'].values

print(train.columns)

from sklearn.model_selection import train_test_split
X_train2, X_test2, y_train2, y_test2 = train_test_split(X, y, test_size=0.25, random_state=0, stratify=y)

Index(['Agent Category Assigned', 'Type of Request', 'Location', 'Region Type',
       'Request Solution Category', 'A_1', 'A_2', 'Problem Category',
       'MinMax_StreetType', 'MinMax_WardNo', 'MinMax_TeamAssigned'],
      dtype='object')

In [64]:
from sklearn.linear_model import LogisticRegression
logisticRegr = LogisticRegression(class_weight='balanced')
logisticRegr.fit(X_train2, y_train2)

predictions = logisticRegr.predict(X_test2)
score2 = logisticRegr.score(X_test2, y_test2)
print(score2)

0.9329192546583851

In [65]:
dtree_model = DecisionTreeClassifier(class_weight='balanced', max_depth=3).fit(X_train2, y_train2)   #Optimum Value for max_depth : 10
dtree_predictions2 = dtree_model.predict(X_test2)

print('DecisionTreeClassifier + UnderSampling')
print('Precision: ', multiclass_recall_score(y_test2, dtree_predictions2))
print('Recall: ', multiclass_precision_score(y_test2, dtree_predictions2))

DecisionTreeClassifier + UnderSampling
Precision:  0.6385620915032679
Recall:  0.46328551912568305

In [66]:
rf_clf = RandomForestClassifier(class_weight='balanced', random_state=0, n_jobs=-1)   
rf_clf.fit(X_train2, y_train2)
rf_predictions2 = rf_clf.predict(X_test2)

print('RandomForestClassifier + UnderSampling')
print('Precision: ', multiclass_recall_score(y_test2, rf_predictions2))
print('Recall: ', multiclass_precision_score(y_test2, rf_predictions2))

RandomForestClassifier + UnderSampling
Precision:  0.6644444444444445
Recall:  0.5064640111809923

In [67]:
xg_cl = xgb.XGBClassifier(objective= "multi:softprob", 
                          n_estimators=125, 
                          learning_rate=0.1, 
                          seed=123,
                          max_depth=2,
                          class_weight='balanced',)

xg_cl.fit(X_train2, y_train2)

preds2 = xg_cl.predict(X_test2)
        
#print('Accuracy : ', accuracy_score(y_test, preds))
#print('ROC for XGBClassifier : ', multiclass_roc_auc_score(y_test, preds))

print('XGBClassifier + UnderSampling')
print('Precision: ', multiclass_recall_score(y_test2, preds2))
print('Recall: ', multiclass_precision_score(y_test2, preds2))

XGBClassifier + UnderSampling
Precision:  0.6934640522875816
Recall:  0.6313131313131313

#My Observation says that Logistic Regression and Decision Tree Classifier output shows pretty good improvement while using class_weight='balanced' parameter.
#But, Ensemble Learning Classifiers like Decision Forest Classifier and XGBClassifiers' performance is almost unchanged.